
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
html, body{
    /* height:1000%; */
    /* width:100%; */
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    position: sticky;
    margin-top: 0;
    background: rgb(235, 229, 229);
    height: 66px;
    background-color: black;
    color: white
}
#searchBar {
    margin-bottom: 5%;
    margin-left: 2%;
}

.left img{
    width: 40px;
    height:40px;
}


.container{
    padding: 0 10vw;
    
}
nav{
    font-size: 12px;
    padding-top: 14px;
}
nav ul li{
    list-style: none;
    padding: 0 12px;
    height: 65px;

    
    
    
}

.section1{
    background: white;
    /* height: 122vh; */
}
.search{
    width: 52vw;
    padding: 7px 17px;
    border: 0.5px solid grey;
    border-radius: 5px;
    background: #f6f6fa2b;
}
.main_1st {
    display: flex;
    /* flex-direction: column; */
}
#options {
    width: 200px;
    height: 50px;
    margin-left: 1000px;
    ;
}

#footimg{
    width: 300px;

}
#footing {
    width:1200px
}

.wishlist img {
    width:  20px;
    height:20px;
    margin:10px
}

/* login page styling start */


body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
/* .open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
} */

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
/* login page styling end */

.footer {
  /* height: 500px; */
  max-width: 100%;
  height: auto;
  background-color: black;
  display: flex;
  justify-content: space-around;
  color:white
}
.footer_1 p {
  font-size: 0.875rem;
font-weight: 500;
}
.footer_1 button {
  /* background-color: black; */
  border: 2px solid black;
  padding: 10px;
  color: white;
  background-color: black;
  border-color: white;
  margin-bottom: 15%;
}

.footer_1 :first-child{
  font-size: 1.25rem;
  font-weight: 700;
}
.red {
  background-color: red;
  height: 3px;
  width: 15px;
}
.category {
  display: flex;
}
.category_1 img{
  max-width: 100%;
height: auto;
}
.category_1 p {
  text-align: center;
  text-decoration: underline;
}
.brand_Logo {
  display: flex;
  margin-bottom:25px ;
}
.brand_Logo img {
  width: 200px;
  margin: auto;
}
.three_images {
  display: flex;
  max-width: 100%;
height: auto;

}
.three_images div {
  margin: 2%;
}
.three_images img {
  max-width: 100%;
  height: auto;
}
.three_images h1 {
  /* font-weight: 2000; */
  font-size: 30px;
  text-align: center;
}
.three_images p {
  text-decoration: underline;
  color: blue;
  text-align: center;
}
#new {
  font-size: 30px;
  text-align: center;
}
#shoes {
  display: flex;
}
#shoes div img {
  max-width: 100%;
  height: auto;
}
#shoes div p {
  text-align: center;
} 
.bannner {
  position: relative;
text-align: center;
color: white;
}
.bottom-left {
position: absolute;
bottom: 8px;
left: 16px;
}
.bannner img {
  width: 100%;
}

#last {
  display: flex;
  max-width: 100%;
  height: auto;
}
#last div {
  max-width: 100%;
  height: auto;
  margin: 2%;
  text-align: center;
}
#last div img {
  width: 400px;
  height: auto;
}

#last div :last-child {
  text-decoration: underline;
  color: blue
    
}

